@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0 auto 60px;
  font-family: raleway, sans-serif;
}



header {
  width: 100%;
  background: orange;
  height: 100px;
}
.rubrik {
  text-align: center;
  margin-top: -72px;
}
h2 {
  padding: 10px 10px 0 15px;
}
.lorem {
  padding: 0px 10px 0 15px;
}
footer {
  background: #ecf0f1;
  line-height: 60px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-top: 10px;
}
form {
  padding: 40px 0;
  background: #fff;
  text-align: center;
}
form input , form textarea {
  display: block;
  border: 4px solid #e67e22;
  margin: 0 auto 10px;
  border-radius: 50px;
  padding: 0px 10px;
  width: 300px;
  min-height: 50px;
}
form textarea {
  border-radius: 20px;
  padding: 15px;
}
#submit {
  background: #d35400;
  color: #fff;
}
#submit:hover {
  background: #fff;
  color: #d35400;
  border: 4px solid #e67e22;
}

img {
  height: 200px;
  border-radius: 10px;
  margin: 50px auto 30px auto;
}














